[user]
	name = Takumi Ueda
	email = takumi@ueda.dev
[push]
	default = simple
[color]
	ui = auto
[alias]
	b = branch
	d = diff
	s = status
[core]
	quotepath = false
	excludesfile = ~/.gitignore
	pager = delta -- --theme="GitHub"
[delta]
	side-by-side = true
[interactive]
	diffFilter = delta --color-only
[init]
	defaultBranch = main
